In [1]:
import pandas as pd
import numpy as np

In [2]:
data1=pd.read_csv('IRAhandle_tweets_1.csv')
data2=pd.read_csv('IRAhandle_tweets_2.csv')
data3=pd.read_csv('IRAhandle_tweets_3.csv')
data4=pd.read_csv('IRAhandle_tweets_4.csv')
data5=pd.read_csv('IRAhandle_tweets_5.csv')
data6=pd.read_csv('IRAhandle_tweets_6.csv')
data7=pd.read_csv('IRAhandle_tweets_7.csv')
data8=pd.read_csv('IRAhandle_tweets_8.csv')
data9=pd.read_csv('IRAhandle_tweets_9.csv')

## Exploring data1

In [3]:
data1.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [4]:
data1.describe().all
data1.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [5]:
data1.shape
rows=data1.shape[0]
cols=data1.shape[1]
print(rows,cols)

381016 15

In [6]:
data1['author'].value_counts()

AMELIEBALDWIN      35371
BERLINBOTE         19748
ARM_2_ALAN         14721
BIZGOD             12156
BATONROUGEVOICE    10758
                   ...
459JISALGE             1
ALWAYSHUNGRYBAE        1
ANDREJFROLOV69         1
AAATEST1234            1
ACTIVEMIKR             1
Name: author, Length: 418, dtype: int64

In [7]:
data1['account_category'].value_counts()

RightTroll      128681
NonEnglish       88936
LeftTroll        81474
HashtagGamer     35204
NewsFeed         32423
Commercial       12495
Unknown            983
Fearmonger         820
Name: account_category, dtype: int64

In [8]:
data1['account_type'].value_counts()

Right         128681
left           81474
Russian        56934
Hashtager      35204
local          32423
German         25134
Commercial     12495
Italian         6278
?                983
Koch             645
Arabic           480
ZAPOROSHIA       175
Spanish           61
French            48
Ukranian           1
Name: account_type, dtype: int64

In [9]:
data1['post_type'].value_counts()

RETWEET        190015
QUOTE_TWEET      7235
Name: post_type, dtype: int64

In [10]:
data1['region'].value_counts()

United States           251587
Unknown                  96063
United Arab Emirates     10204
Azerbaijan                9126
Italy                     6280
Germany                   2841
Russian Federation        1977
Ukraine                   1234
Israel                     677
United Kingdom             602
France                      51
Iraq                        17
Egypt                       10
Turkey                       9
Belarus                      8
Japan                        6
Hong Kong                    3
Serbia                       2
Austria                      1
Name: region, dtype: int64

In [11]:
data1['language'].value_counts()

English                291571
Russian                 48726
German                  24312
Italian                  6335
Ukrainian                3278
Serbian                   752
Uzbek                     747
Bulgarian                 685
French                    660
Arabic                    631
Spanish                   554
Macedonian                446
Norwegian                 270
Dutch                     235
Swedish                   200
Romanian                  173
Farsi (Persian)           150
Vietnamese                148
Estonian                  126
Catalan                    93
Japanese                   84
Albanian                   81
Turkish                    80
Portuguese                 77
Finnish                    67
Croatian                   62
Icelandic                  49
Pushto                     49
Tagalog (Filipino)         38
LANGUAGE UNDEFINED         37
Polish                     36
Lithuanian                 35
Latvian                    31
Somali                     27
Malay                      21
Hindi                      21
Kurdish                    18
Hungarian                  18
Slovak                     16
Danish                     16
Indonesian                 11
Czech                      11
Greek                       9
Slovenian                   8
Urdu                        7
Hebrew                      7
Korean                      3
Simplified Chinese          2
Bengali                     1
Thai                        1
Traditional Chinese         1
Name: language, dtype: int64

In [12]:
eng_data1=data1.loc[data1['language']=='English',:]

In [13]:
eng_data1.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [14]:
eng_data1.shape

(291571, 15)

## Exploring data2

In [15]:
data2.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.685173e+09,BLMSOLDIER,Koome: This court won’t sit next week but will...,United States,English,3/7/2017 10:27,3/7/2017 10:28,694,712,4846,RETWEET,left,0,1,LeftTroll
1,1.685173e+09,BLMSOLDIER,Get Youtube promotion go viral click here to s...,United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4847,RETWEET,left,0,1,LeftTroll
2,1.685173e+09,BLMSOLDIER,"""Affordable Care Act"" replacement breaks Trump...",United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4848,RETWEET,left,0,1,LeftTroll
3,1.685173e+09,BLMSOLDIER,'@GeorgeJolly9 oh you know she is dead ass ser...,United States,English,3/7/2017 15:30,3/7/2017 15:31,694,711,4852,RETWEET,left,0,1,LeftTroll
4,1.685173e+09,BLMSOLDIER,Media is treating wiretap claim like it's legi...,United States,English,3/7/2017 15:30,3/7/2017 15:31,694,711,4853,RETWEET,left,0,1,LeftTroll

In [16]:
data2.describe().all
data2.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [17]:
data2.shape
rows=data2.shape[0]
cols=data2.shape[1]
print(rows,cols)

397232 15

In [18]:
# data2['author'].value_counts()
data2['account_category'].value_counts()
data2['post_type'].value_counts()
data2['region'].value_counts()
data2['language'].value_counts()

English               350166
Russian                36245
German                  3840
Ukrainian               2121
Bulgarian                588
Uzbek                    468
Serbian                  408
Spanish                  378
LANGUAGE UNDEFINED       343
French                   301
Italian                  294
Macedonian               231
Norwegian                231
Arabic                   196
Dutch                    179
Romanian                 161
Farsi (Persian)          143
Vietnamese                82
Estonian                  74
Catalan                   70
Icelandic                 55
Albanian                  51
Croatian                  48
Japanese                  46
Swedish                   44
Finnish                   42
Pushto                    42
Turkish                   40
Lithuanian                37
Portuguese                35
Polish                    33
Tagalog (Filipino)        31
Latvian                   30
Czech                     28
Somali                    26
Danish                    18
Malay                     18
Kurdish                   17
Hungarian                 14
Slovak                    13
Slovenian                 11
Indonesian                 8
Urdu                       8
Hebrew                     7
Korean                     4
Hindi                      3
Greek                      2
Thai                       1
Simplified Chinese         1
Name: language, dtype: int64

In [19]:
eng_data2=data2.loc[data2['language']=='English',:]

In [20]:
eng_data2.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.685173e+09,BLMSOLDIER,Koome: This court won’t sit next week but will...,United States,English,3/7/2017 10:27,3/7/2017 10:28,694,712,4846,RETWEET,left,0,1,LeftTroll
1,1.685173e+09,BLMSOLDIER,Get Youtube promotion go viral click here to s...,United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4847,RETWEET,left,0,1,LeftTroll
2,1.685173e+09,BLMSOLDIER,"""Affordable Care Act"" replacement breaks Trump...",United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4848,RETWEET,left,0,1,LeftTroll
3,1.685173e+09,BLMSOLDIER,'@GeorgeJolly9 oh you know she is dead ass ser...,United States,English,3/7/2017 15:30,3/7/2017 15:31,694,711,4852,RETWEET,left,0,1,LeftTroll
4,1.685173e+09,BLMSOLDIER,Media is treating wiretap claim like it's legi...,United States,English,3/7/2017 15:30,3/7/2017 15:31,694,711,4853,RETWEET,left,0,1,LeftTroll

In [21]:
eng_data2.shape

(350166, 15)

## Exploring data3

In [22]:
data3.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,2.494112e+09,DAILYSANJOSE,#sports Ex-Stanford player Stanley Wilson II s...,United States,English,6/27/2016 14:39,6/27/2016 14:39,11955,13225,20394,NaN,local,1,0,NewsFeed
1,2.494112e+09,DAILYSANJOSE,The Mountain View gets ready to close its door...,United States,English,6/27/2016 14:56,6/27/2016 14:56,11955,13225,20395,NaN,local,1,0,NewsFeed
2,2.494112e+09,DAILYSANJOSE,#politics Supreme Court strikes down Texas abo...,United States,English,6/27/2016 14:59,6/27/2016 14:59,11955,13225,20396,NaN,local,1,0,NewsFeed
3,2.494112e+09,DAILYSANJOSE,#health Supreme Court strikes down Texas abort...,United States,English,6/27/2016 15:01,6/27/2016 15:01,11955,13225,20397,NaN,local,1,0,NewsFeed
4,2.494112e+09,DAILYSANJOSE,#sports Lochte Fails to Qualify for Rio in Sig...,United States,English,6/27/2016 15:24,6/27/2016 15:24,11955,13225,20398,NaN,local,1,0,NewsFeed

In [23]:
data3.describe().all
data3.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [24]:
data3.shape
rows=data3.shape[0]
cols=data3.shape[1]
print(rows,cols)

368885 15

In [25]:
# data3['author'].value_counts()
data3['account_category'].value_counts()
data3['post_type'].value_counts()
data3['region'].value_counts()
data3['language'].value_counts()

English                287409
Russian                 51131
German                  10992
Italian                  3822
Ukrainian                3451
Arabic                   1352
Uzbek                     929
Farsi (Persian)           863
Norwegian                 799
Serbian                   777
Spanish                   741
Bulgarian                 702
Romanian                  614
French                    495
Macedonian                433
Japanese                  409
Estonian                  305
Swedish                   290
Finnish                   288
Dutch                     270
Icelandic                 215
Albanian                  196
Vietnamese                192
Lithuanian                190
Polish                    174
Greek                     162
Slovak                    156
Turkish                   145
Catalan                   126
Croatian                  123
Somali                    112
Pushto                    109
Kurdish                   105
Korean                     84
Malay                      81
Hungarian                  77
Indonesian                 74
LANGUAGE UNDEFINED         71
Tagalog (Filipino)         65
Czech                      62
Latvian                    60
Portuguese                 53
Hindi                      40
Thai                       26
Danish                     22
Urdu                       22
Slovenian                  17
Hebrew                     16
Simplified Chinese         13
Tamil                       9
Traditional Chinese         9
Telugu                      2
Gujarati                    2
Bengali                     1
Kannada                     1
Malayalam                   1
Name: language, dtype: int64

In [26]:
eng_data3=data3.loc[data3['language']=='English',:]

In [27]:
eng_data3.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,2.494112e+09,DAILYSANJOSE,#sports Ex-Stanford player Stanley Wilson II s...,United States,English,6/27/2016 14:39,6/27/2016 14:39,11955,13225,20394,NaN,local,1,0,NewsFeed
1,2.494112e+09,DAILYSANJOSE,The Mountain View gets ready to close its door...,United States,English,6/27/2016 14:56,6/27/2016 14:56,11955,13225,20395,NaN,local,1,0,NewsFeed
2,2.494112e+09,DAILYSANJOSE,#politics Supreme Court strikes down Texas abo...,United States,English,6/27/2016 14:59,6/27/2016 14:59,11955,13225,20396,NaN,local,1,0,NewsFeed
3,2.494112e+09,DAILYSANJOSE,#health Supreme Court strikes down Texas abort...,United States,English,6/27/2016 15:01,6/27/2016 15:01,11955,13225,20397,NaN,local,1,0,NewsFeed
4,2.494112e+09,DAILYSANJOSE,#sports Lochte Fails to Qualify for Rio in Sig...,United States,English,6/27/2016 15:24,6/27/2016 15:24,11955,13225,20398,NaN,local,1,0,NewsFeed

In [28]:
eng_data3.shape

(287409, 15)

# Exploring data4

In [29]:
data4.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.674084e+09,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2150,RETWEET,Hashtager,0,1,HashtagGamer
1,1.674084e+09,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2146,RETWEET,Hashtager,0,1,HashtagGamer
2,1.674084e+09,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2159,RETWEET,Hashtager,0,1,HashtagGamer
3,1.674084e+09,GAB1ALDANA,#MyAchillesHeel slippery floors https://t.co/R...,United States,Norwegian,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2160,RETWEET,Hashtager,0,1,HashtagGamer
4,1.674084e+09,GAB1ALDANA,#MyAchillesHeel Boring narcissists.....nothing...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2158,RETWEET,Hashtager,0,1,HashtagGamer

In [30]:
data4.describe().all
data4.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [31]:
data4.shape
rows=data4.shape[0]
cols=data4.shape[1]
print(rows,cols)

388452 15

In [32]:
# data4['author'].value_counts()
data4['account_category'].value_counts()
data4['post_type'].value_counts()
data4['region'].value_counts()
data4['language'].value_counts()

English               300510
Russian                52066
German                 15574
LANGUAGE UNDEFINED      6577
Ukrainian               3904
Italian                 3393
Uzbek                    960
Serbian                  740
Bulgarian                683
French                   470
Spanish                  456
Macedonian               446
Norwegian                333
Arabic                   272
Romanian                 207
Swedish                  196
Vietnamese               183
Dutch                    164
Farsi (Persian)          138
Albanian                  94
Estonian                  92
Catalan                   88
Japanese                  76
Croatian                  75
Icelandic                 69
Pushto                    64
Lithuanian                63
Turkish                   58
Finnish                   57
Portuguese                56
Indonesian                50
Polish                    49
Somali                    44
Malay                     35
Latvian                   30
Tagalog (Filipino)        27
Czech                     27
Kurdish                   27
Slovak                    25
Hungarian                 22
Danish                    15
Hebrew                     7
Urdu                       7
Hindi                      5
Korean                     4
Thai                       4
Slovenian                  4
Greek                      3
Gujarati                   3
Name: language, dtype: int64

In [33]:
eng_data4=data4.loc[data4['language']=='English',:]

In [34]:
eng_data4.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.674084e+09,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2150,RETWEET,Hashtager,0,1,HashtagGamer
1,1.674084e+09,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2146,RETWEET,Hashtager,0,1,HashtagGamer
2,1.674084e+09,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2159,RETWEET,Hashtager,0,1,HashtagGamer
4,1.674084e+09,GAB1ALDANA,#MyAchillesHeel Boring narcissists.....nothing...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2158,RETWEET,Hashtager,0,1,HashtagGamer
5,1.674084e+09,GAB1ALDANA,Your opinion on Hillary really matters to a no...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2014,2154,RETWEET,Hashtager,0,1,HashtagGamer

In [35]:
eng_data4.shape

(300510, 15)

# Exploring data5

In [36]:
data5.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,4.484290e+09,KATHERINESKS,#Trump ist ein Rassist. #WirliebenTrump�,Germany,German,6/16/2016 10:41,6/16/2016 10:41,207,18,48,RETWEET,German,0,1,NonEnglish
1,4.484290e+09,KATHERINESKS,#WirLiebenTrump Trump versucht nicht zu gewinn...,Germany,German,6/16/2016 10:41,6/16/2016 10:42,207,18,59,RETWEET,German,0,1,NonEnglish
2,4.484290e+09,KATHERINESKS,#WirLiebenTrump Migration kann nicht sein Prob...,Germany,German,6/16/2016 10:41,6/16/2016 10:41,207,18,58,RETWEET,German,0,1,NonEnglish
3,4.484290e+09,KATHERINESKS,MrCoreyLSmith #WirLiebenTrump #Trump2016 ist d...,Germany,German,6/16/2016 10:41,6/16/2016 10:41,207,18,51,RETWEET,German,0,1,NonEnglish
4,4.484290e+09,KATHERINESKS,'@erdollum #WirLiebenTrump Trump liebt Homosex...,Germany,German,6/16/2016 10:41,6/16/2016 10:41,207,18,62,RETWEET,German,0,1,NonEnglish

In [37]:
data5.describe().all
data5.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [38]:
data5.shape
rows=data5.shape[0]
cols=data5.shape[1]
print(rows,cols)

331821 15

In [39]:
# data5['author'].value_counts()
data5['account_category'].value_counts()
data5['post_type'].value_counts()
data5['region'].value_counts()
data5['language'].value_counts()

English                167103
Russian                119330
German                  21414
Ukrainian                8574
Arabic                   4011
Bulgarian                2336
Serbian                  1826
Uzbek                    1584
Macedonian               1161
French                   1105
LANGUAGE UNDEFINED        665
Italian                   663
Spanish                   288
Norwegian                 236
Romanian                  160
Farsi (Persian)           141
Swedish                   120
Vietnamese                118
Pushto                    109
Dutch                      91
Turkish                    80
Croatian                   71
Finnish                    62
Estonian                   55
Japanese                   52
Catalan                    45
Albanian                   43
Icelandic                  42
Polish                     40
Portuguese                 35
Kurdish                    34
Hungarian                  31
Latvian                    27
Tagalog (Filipino)         27
Lithuanian                 26
Slovak                     26
Somali                     18
Czech                      15
Hebrew                      9
Malay                       8
Indonesian                  7
Slovenian                   7
Hindi                       6
Urdu                        5
Danish                      5
Thai                        4
Korean                      3
Greek                       2
Traditional Chinese         1
Name: language, dtype: int64

In [40]:
eng_data5=data5.loc[data4['language']=='English',:]

In [41]:
eng_data5.shape

(251921, 15)

# Exploring data6

In [42]:
data6.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.930748e+09,NEVNOV_RU,«ДТП с самим собой» может устроить себе каждый...,United Arab Emirates,Russian,6/30/2015 6:32,6/30/2015 6:32,115,13435,16364,NaN,Russian,0,0,NonEnglish
1,1.930748e+09,NEVNOV_RU,Кержаков: Я извинился перед Виллаш-Боашем и ск...,United Arab Emirates,Russian,6/30/2015 9:32,6/30/2015 9:32,115,13435,16370,NaN,Russian,0,0,NonEnglish
2,1.930748e+09,NEVNOV_RU,Бесплатная прачечная с душем появится в Петерб...,United States,Russian,6/30/2016 11:24,6/30/2016 11:27,17237,24956,28528,NaN,Russian,0,0,NonEnglish
3,1.930748e+09,NEVNOV_RU,"Кержакова больше не зовут в ""Зенит"" https://t....",United States,Ukrainian,6/30/2016 12:12,6/30/2016 12:12,17237,24956,28529,NaN,Russian,0,0,NonEnglish
4,1.930748e+09,NEVNOV_RU,"Появилось мобильное приложение, соединяющее лю...",United States,Russian,6/30/2016 13:01,6/30/2016 13:01,17237,24956,28530,NaN,Russian,0,0,NonEnglish

In [43]:
data6.describe().all
data6.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [44]:
data6.shape
rows=data6.shape[0]
cols=data6.shape[1]
print(rows,cols)

324512 15

In [45]:
# data6['author'].value_counts()
data6['account_category'].value_counts()
data6['post_type'].value_counts()
data6['region'].value_counts()
data6['language'].value_counts()

English               172021
Russian               135030
Ukrainian               6728
Serbian                 2518
Uzbek                   1999
Bulgarian               1618
German                  1356
Macedonian              1055
French                  1043
LANGUAGE UNDEFINED       219
Spanish                  124
Italian                  113
Arabic                   100
Vietnamese                69
Dutch                     63
Norwegian                 60
Farsi (Persian)           46
Romanian                  44
Croatian                  34
Swedish                   29
Japanese                  27
Catalan                   23
Estonian                  21
Portuguese                21
Albanian                  17
Finnish                   13
Icelandic                 13
Lithuanian                13
Hebrew                    10
Hungarian                  9
Turkish                    9
Tagalog (Filipino)         8
Kurdish                    8
Czech                      7
Somali                     6
Latvian                    6
Polish                     5
Pushto                     4
Malay                      4
Slovenian                  3
Korean                     3
Slovak                     3
Danish                     3
Hindi                      2
Indonesian                 2
Urdu                       2
Greek                      1
Name: language, dtype: int64

In [46]:
eng_data6=data6.loc[data4['language']=='English',:]

In [47]:
eng_data6.shape

(245488, 15)

# Exploring data7

In [48]:
data7.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,2.260338e+09,POLITICS_T0DAY,https://t.co/MCN0zjJ9Bw https://t.co/0Ym2ssnxzy,United States,Russian,4/14/2017 23:02,4/14/2017 23:02,161,1079,24010,NaN,Russian,0,0,NonEnglish
1,2.260338e+09,POLITICS_T0DAY,https://t.co/TFIDNR5Dfi https://t.co/wHD4hvmYIg,United States,Russian,4/14/2017 2:02,4/14/2017 2:02,161,1079,23986,NaN,Russian,0,0,NonEnglish
2,2.260338e+09,POLITICS_T0DAY,"Доброе утро, Россия! https://t.co/pNKO5brIsL h...",United States,Russian,4/14/2017 3:02,4/14/2017 3:02,160,1079,23987,NaN,Russian,0,0,NonEnglish
3,2.260338e+09,POLITICS_T0DAY,"""Кто Вас воспитывал? Кто учил Вас манерам?"" ht...",United States,Russian,4/14/2017 4:02,4/14/2017 4:02,160,1079,23988,NaN,Russian,0,0,NonEnglish
4,2.260338e+09,POLITICS_T0DAY,Утверждён проект памятника в г. Воронеж ! Ждём...,United States,Russian,4/14/2017 5:02,4/14/2017 5:02,160,1079,23989,NaN,Russian,0,0,NonEnglish

In [49]:
data7.describe().all
data7.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [50]:
data7.shape
rows=data7.shape[0]
cols=data7.shape[1]
print(rows,cols)

365603 15

In [51]:
# data7['author'].value_counts()
data7['account_category'].value_counts()
data7['post_type'].value_counts()
data7['region'].value_counts()
data7['language'].value_counts()

English               250478
Russian                97853
Ukrainian               5803
German                  1960
Bulgarian               1688
Italian                 1652
Uzbek                   1409
Serbian                 1368
Arabic                   874
Macedonian               745
Spanish                  266
French                   198
LANGUAGE UNDEFINED       183
Romanian                 124
Norwegian                108
Vietnamese                96
Catalan                   88
Pushto                    77
Farsi (Persian)           75
Croatian                  65
Dutch                     60
Malay                     57
Albanian                  44
Portuguese                35
Estonian                  33
Swedish                   28
Somali                    25
Japanese                  22
Icelandic                 22
Finnish                   20
Polish                    20
Latvian                   18
Czech                     14
Turkish                   13
Tagalog (Filipino)        11
Hungarian                 10
Lithuanian                 9
Kurdish                    9
Indonesian                 8
Slovak                     6
Slovenian                  6
Urdu                       4
Greek                      4
Simplified Chinese         4
Hindi                      4
Danish                     3
Hebrew                     2
Korean                     1
Thai                       1
Name: language, dtype: int64

In [52]:
eng_data7=data7.loc[data7['language']=='English',:]

In [53]:
eng_data7.shape

(250478, 15)

# Exploring data8

In [54]:
data8.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.651693e+09,STAYWOKE88,#Illinois Dairy #Queen Franchisee Loses Store ...,United States,English,1/10/2017 0:43,1/10/2017 0:44,549,465,3574,RETWEET,left,0,1,LeftTroll
1,1.651693e+09,STAYWOKE88,#NoEthicsNoHearing https://t.co/q8suwAO2sB,United States,English,1/10/2017 0:44,1/10/2017 0:44,549,465,3575,RETWEET,left,0,1,LeftTroll
2,1.651693e+09,STAYWOKE88,Progressive narratives about what’s driving ma...,United States,English,1/10/2017 12:50,1/10/2017 12:51,549,466,3594,RETWEET,left,0,1,LeftTroll
3,1.651693e+09,STAYWOKE88,Finally found his twin. Mitch McConnell https:...,United States,English,1/10/2017 12:50,1/10/2017 12:50,549,466,3592,RETWEET,left,0,1,LeftTroll
4,1.651693e+09,STAYWOKE88,"#DonnieDipshit: ""Confirmations r going great""....",United States,English,1/10/2017 12:50,1/10/2017 12:51,549,466,3593,RETWEET,left,0,1,LeftTroll

In [55]:
data8.describe().all
data8.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [56]:
data8.shape
rows=data8.shape[0]
cols=data8.shape[1]
print(rows,cols)

378295 15

In [57]:
# data8['author'].value_counts()
data8['account_category'].value_counts()
data8['post_type'].value_counts()
data8['region'].value_counts()
data8['language'].value_counts()

English               294157
Russian                64718
German                  7507
Ukrainian               4166
Italian                 1964
Uzbek                   1091
Serbian                  951
Bulgarian                905
Macedonian               597
Spanish                  298
French                   268
Norwegian                206
Arabic                   148
Portuguese               145
Romanian                 131
Farsi (Persian)          119
Swedish                  109
Dutch                     93
Vietnamese                84
Croatian                  62
Estonian                  62
Catalan                   54
Japanese                  46
Lithuanian                41
Albanian                  38
Pushto                    32
Tagalog (Filipino)        32
Icelandic                 30
Finnish                   29
Polish                    26
Czech                     19
Somali                    19
LANGUAGE UNDEFINED        18
Turkish                   18
Kurdish                   18
Slovak                    15
Latvian                   14
Malay                     11
Hungarian                 10
Danish                     9
Indonesian                 7
Hebrew                     7
Slovenian                  6
Hindi                      4
Korean                     3
Greek                      3
Urdu                       3
Simplified Chinese         1
Thai                       1
Name: language, dtype: int64

In [58]:
eng_data8=data8.loc[data8['language']=='English',:]

In [59]:
eng_data8.shape

(294157, 15)

# Exploring data9

In [60]:
data9.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.513801e+09,YOUJUSTCTRLC,I went to Homegoods to get a table runner and ...,United States,English,1/8/2017 1:57,1/8/2017 1:57,2655,2724,3015,RETWEET,left,0,1,LeftTroll
1,1.513801e+09,YOUJUSTCTRLC,"The education of the masses, which should begi...",United States,English,1/8/2017 1:57,1/8/2017 1:57,2655,2724,3014,RETWEET,left,0,1,LeftTroll
2,1.513801e+09,YOUJUSTCTRLC,#SciFiSunday: Interview With Fantasy Writer Ab...,United States,English,1/8/2017 20:02,1/8/2017 20:02,2657,2725,3024,RETWEET,left,0,1,LeftTroll
3,1.513801e+09,YOUJUSTCTRLC,"""The original purpose of the plantation was to...",United States,English,1/8/2017 20:02,1/8/2017 20:02,2657,2725,3021,RETWEET,left,0,1,LeftTroll
4,1.513801e+09,YOUJUSTCTRLC,Begging for her back R&amp;B &gt; Fuck that bi...,United States,English,1/8/2017 7:57,1/8/2017 7:57,2657,2723,3017,RETWEET,left,0,1,LeftTroll

In [61]:
data9.describe().all
data9.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [62]:
data9.shape
rows=data9.shape[0]
cols=data9.shape[1]
print(rows,cols)

37555 15

In [63]:
# data9['author'].value_counts()
data9['account_category'].value_counts()
data9['post_type'].value_counts()
data9['region'].value_counts()
data9['language'].value_counts()

Russian               19025
English               15548
Ukrainian              1336
Uzbek                   304
Serbian                 275
Bulgarian               253
German                  216
LANGUAGE UNDEFINED      212
Macedonian              146
Spanish                  40
French                   32
Italian                  18
Vietnamese               18
Romanian                 17
Dutch                    12
Arabic                   11
Farsi (Persian)          10
Norwegian                 9
Portuguese                8
Albanian                  8
Croatian                  6
Swedish                   5
Japanese                  4
Icelandic                 4
Finnish                   3
Czech                     3
Hindi                     3
Polish                    3
Estonian                  3
Catalan                   3
Latvian                   3
Lithuanian                3
Turkish                   2
Pushto                    2
Hebrew                    2
Hungarian                 1
Indonesian                1
Korean                    1
Urdu                      1
Kurdish                   1
Malay                     1
Tagalog (Filipino)        1
Gujarati                  1
Name: language, dtype: int64

In [64]:
eng_data9=data9.loc[data9['language']=='English',:]

In [65]:
eng_data9.shape

(15548, 15)